## Persian Calendar Initialization
<script type="text/javascript">
    // Provide server-side configuration to Persian Calendar plugin
    window.PersianCalendarConfig = window.PersianCalendarConfig || {};
    window.PersianCalendarConfig.contextPath = '$!{req.contextPath}';
    window.PersianCalendarConfig.version = '${project.version}';
    window.PersianCalendarConfig.initialized = true;
</script>
